<h1>Directory of Student Pages</h1>

<ul>

    <li><%= link_to 'u2reach', u2reach_path %></li>
    <li>%= link_to 'ruleisaac946', ruleisaac946_path %></li>
    <li><%= link_to 'eritrea21', eritrea21_path%></li>
    <li><%= link_to 'aldafari', aldafari_path %></li>

</ul>
